@using Publi4.Controllers
@model Publi4.Models.AccountViewModels.UserForCreationViewModel

@{
    ViewBag.Title = "Create";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@UsersController.PageTitle</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Criar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Criar @UsersController.ContentName.ToLower()</h5>
                </div>
                <div class="ibox-content">

                    <form asp-action="Create">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div asp-validation-summary="All" class="col-md-7 col-md-offset-2 text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                                <div class="col-md-7">
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="col-md-2 control-label"></label>
                                <div class="col-md-7">
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="col-md-2 control-label"></label>
                                <div class="col-md-7">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="col-md-2 control-label"></label>
                                <div class="col-md-7">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group" id="RadioButtonGroup">
                                <label class="col-sm-2 control-label">Perfil</label>
                                <div class="col-sm-10 i-checks">
                                    <label class="radio-inline">
                                        <input asp-for="UserType" type="radio" value="Redator"> Redator
                                    </label>
                                    <label class="radio-inline">
                                        <input asp-for="UserType" type="radio" value="Cliente"> Cliente
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-7">
                                    <br />
                                    <button class="btn btn-primary m-t-n-xs" type="submit"><strong>Criar</strong></button>

                                </div>
                            </div>
                        </div>
                    </form>
                    <div>
                        <a asp-action="Index" class="btn btn-white m-t-n-xs">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
